.BookBtn {
    margin-bottom: 10px;
    background-color: pink;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.BookBtn:hover {
    background-color: rgb(232, 122, 140);
}